<div class="column-questions">
    <h2>Ofte stillede spørgsmål</h2>
    <ul class="questions">
        <li>
            <div class="question-container">
                <div class="question">
                    Hvor meget kan jeg spare?
                </div>
                <div class="trigger"></div>
            </div>
            <div class="answer-container text-area">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </li>
        <li>
            <div class="question-container">
                <div class="question">
                    Hvor meget kan jeg spare hos Modstrøm? Og her er det med en lang tekst.
                </div>
                <div class="trigger"></div>
            </div>
            <div class="answer-container text-area">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </li>
        <li>
            <div class="question-container">
                <div class="question">
                    Hvor meget kan jeg spare hos Modstrøm?
                </div>
                <div class="trigger"></div>
            </div>
            <div class="answer-container text-area">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </li>
    </ul>
    <a class="see-all" href="/">Se alle spørgsmål og svar</a>
</div>            