<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="0">
  <trigger triggerOnPublish="true" />
  <xmlSiteMap enabled="true" excludeUmbracoNaviHide="false" />
  <urlRewrite enabled="false" forcewwwUrls="Ignore" useTrailingSlashProperty="false" />
  <redirectConfig storeDomain="true" storeQueryString="true" forwardQuerystring="true" redirectWhenNodeExists="false" />
  <notFoundConfig enabled="true" />
  <robotsTxt enabled="true" />
  <robots>
    <robot userAgent="Googlebot/2.1" name="Google" />
  </robots>
  <documentTypeConfiguration>
    <documentType>
      <documentTypeAlias>master</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>@nodeName</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties />
      <documentTitleTemplate>[#@seoTitle] - [$siteName]</documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
    <documentType>
      <documentTypeAlias>PageSettings</documentTypeAlias>
      <documentTitleProperties>
        <documentTitleProperty>pageHeadline</documentTitleProperty>
      </documentTitleProperties>
      <documentDescriptionProperties>
        <documentDescriptionProperty>pageDescription</documentDescriptionProperty>
      </documentDescriptionProperties>
      <documentTitleTemplate></documentTitleTemplate>
      <robotsTxtIndexOption>index</robotsTxtIndexOption>
      <robotsTxtFollowOption>follow</robotsTxtFollowOption>
      <xmlSitemapDisabled>false</xmlSitemapDisabled>
      <xmlSitemapPrio>0.5</xmlSitemapPrio>
      <xmlSitemapChangeFrequency>weekly</xmlSitemapChangeFrequency>
    </documentType>
  </documentTypeConfiguration>
  <emailConfiguration />
  <rootNodeSettings />
  <validationConfig validateAltAttributesOnTemplate="false" />
  <keywordSelectionUrl>https://adwords.google.com/ko/KeywordPlanner/Home</keywordSelectionUrl>
  <showTemplateErrorsForNonAdmins>false</showTemplateErrorsForNonAdmins>
</SEOChecker>