@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

@section mainContent
{
	<div id="page" class="article-list">
		<br /><br /><br /><br /><br /><br /><br /><br />Article list Template<br /><br /><br /><br /><br /><br />
	</div>
}