@using Umbraco.Web
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@section mainContent
{
    <div id="page" class="frontpage">
        @Html.Partial("Sections/Slider")
        @Html.Partial("Sections/ImageLinkList")
        @Html.Partial("Sections/HeroVideo")
        @Html.Partial("Sections/HeroSplit")
    </div>
}
