@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section mainContent
{
    <div id="page" class="textpage">
        @Html.Partial("Sections/SectionImage")
        @Html.Partial("Sections/SectionContent")
    </div>

    @* @(Model.Content.GetPropertyValue<HtmlString>("content")) *@
    @RenderSection("extraContent")
}
    
