@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}
@section mainContent
{
    <div id="textpage">
        <nav id="nav-sub">
            @Html.Partial("Helpers/ncNavSub")
        </nav>
        <section>
            @(Model.Content.GetPropertyValue<HtmlString>("content"))
        </section>
    </div>
    
    @RenderSection("extraContent")
}
    
