<section class="section-testimonial-customer">
	<div class="container">
		<div class="row">
            <div class="col-xs-12">
				<h2>Hvad siger kunderne om Modstrøm?</h2>
				<div class="text-area">
					Vi kunne ikke forestille os nogen bedre til at fortælle om de <b>fordele</b>, du kan få med Modstrøm end vores <b>glade</b> nuværende kunder.
				</div>
			</div>
			<div class="testimonials-slider">
                <ul class="testimonials slides">
                    <li>
                        <a class="testimonial fancybox col-sm-6" href="#testimonial-1" rel="testimonial-gallery" >
                            <div class="row">
                                <div class="col-sm-6">
						            <div class="box box-text box-teal arrow-right">
                                        <h3>Kell Schomacker</h3>
                                        <small>København</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </div>
					            </div>
					            <div class="col-sm-6">
						            <div href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </div>
					            </div>
                            </div>
                        </a>
                        <a class="testimonial fancybox col-sm-6" href="#testimonial-2" rel="testimonial-gallery">
                            <div class="row">
                                <div class="col-sm-6">
						            <div class="box box-text box-dark arrow-right">
                                        <h3>Lily Ruby</h3>
                                        <small>Randers</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </div>
					            </div>
					            <div class="col-sm-6">
						            <div class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </div>
					            </div>
                            </div>
                        </a>
                        <a class="testimonial fancybox col-sm-6" href="#testimonial-3" rel="testimonial-gallery" >  
                            <div class="row">                          
					            <div class="col-sm-6">
						            <div class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </div>
					            </div>
                                <div class="col-sm-6">
						            <div href="/" class="box box-text box-orange arrow-left">
                                        <h3>Ole Froulund</h3>
                                        <small>Roskilde</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </div>
					            </div>
                            </div>
                        </a>
                        <a class="testimonial fancybox col-sm-6" href="#testimonial-4" rel="testimonial-gallery">    
                            <div class="row">                        
					            <div class="col-sm-6">
						            <div class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </div>
					            </div>
                                <div class="col-sm-6">
						            <div href="/" class="box box-text box-gray arrow-left">
                                        <h3>Edith Larsen</h3>
                                        <small>Hillerød</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </div>
					            </div>
                            </div>
                        </a>
                    </li>
                </ul>
			</div>
            <div class="testimonials-slider-mobile">
                <ul class="testimonials slides">
                    <li>
                        <a class="testimonial fancybox col-xs-12" href="#testimonial-1" rel="testimonial-gallery">
                            <div id="testimonial-1" class="testimonial-overlay overlay-teal">
						        <div class="box box-image">
							        <figure>
									    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
										    <noscript>
											    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
										    </noscript>
									    </div>
									    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
										    <noscript>
											    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
										    </noscript>
									    </div>
								    </figure>
						        </div>
						        <div href="/" class="box box-text box-teal arrow-top">
                                    <h3>Kell Schomacker</h3>
                                    <small>København</small>
							        <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                    Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                    <p class="link">Læs hele anmeldelsen</p>
                                    <div class="full-text">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                                        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
                                        sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>                    
                </ul>
            </div>
		</div>
	</div>
</section>
