<section class="section-testimonial-business">
	<div class="container">
		<div class="row">
            <div class="col-xs-12">
				<h2>Virksomhedernes erfaringer med Modstrøm</h2>
				<div class="text-area">
					Her er der mulighed for at indsætte et tekstområde.
				</div>
                <ul class="testimonials">
                    <li class="testimonial">
                        <a href="/" class="row">
                            <figure class="col-sm-4 image-container">
								<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/testimonial-placeholder-desktop.jpg" data-imgalt-desktop="This is the alt text">
									<noscript>
										<img src="/images/testimonial-placeholder-desktop.jpg" alt="This is the alt text">
									</noscript>
								</div>
								<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/testimonial-placeholder-mobile.jpg" data-imgalt-mobile="This is the mobile alt text">
									<noscript>
										<img src="/images/testimonial-placeholder-mobile.jpg" alt="This is the mobile alt text">
									</noscript>
								</div>
							</figure>
                            <div class="col-sm-8 text-container">
                                <div class="testimonial-text">
                                    <h3>Klimavenlig øl og whiskey</h3>
                                    <p>Nørrebro Bryghus har vundet to guldmedaljer og en sølvmedalje ved verdensmesterskaberne 
                                    i øl-brygning i Chicago. Bryghuset har gjort hele sit el-forbrug CO2-neutralt ved at lade 
                                    Modstrøm opkøbe CO2-kvoter svarende til virksomhedens forbrug.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="testimonial">
                        <a href="/" class="row">
                            <figure class="col-sm-4 image-container">
								<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/testimonial-placeholder-desktop.jpg" data-imgalt-desktop="This is the alt text">
									<noscript>
										<img src="/images/testimonial-placeholder-desktop.jpg" alt="This is the alt text">
									</noscript>
								</div>
								<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/testimonial-placeholder-mobile.jpg" data-imgalt-mobile="This is the mobile alt text">
									<noscript>
										<img src="/images/testimonial-placeholder-mobile.jpg" alt="This is the mobile alt text">
									</noscript>
								</div>
							</figure>
                            <div class="col-sm-8 text-container">
                                <div class="testimonial-text">
                                    <h3>Klimavenlig øl og whiskey</h3>
                                    <p>Nørrebro Bryghus har vundet to guldmedaljer og en sølvmedalje ved verdensmesterskaberne 
                                    i øl-brygning i Chicago. Bryghuset har gjort hele sit el-forbrug CO2-neutralt ved at lade 
                                    Modstrøm opkøbe CO2-kvoter svarende til virksomhedens forbrug.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <a href="/" class="btn btn-dark">Se flere virksomhedscases</a>
			</div>
		</div>
	</div>
</section>
