<section class="hero-boxes">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2>Hvem er Modstrøm?</h2>
                <div class="text-area">
                    <p>Modstrøm er dannet i 2008 og er Danmarks første uafhængige og klimavenlige energiselskab. 
                    Vi <b>konkurrerer med de eksisterende udbydere</b> af strøm til gavn for både virksomheder, forbrugere og klimaet.</p>
                </div>
            </div>
            <ul class="box-list">
                <li class="col-sm-3">
                    <a href="/" class="box box-text box-teal box-bottom box-left">
                        <p>Helt almindelige mennesker med begge ben på jorden</p>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="/" class="box box-image">
                        <figure>
                            <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg"  data-imgalt-desktop="This is the alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
                                </noscript>
                            </div>
                            <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg"  data-imgalt-mobile="This is the mobile alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
                                </noscript>
                            </div>
                        </figure>    
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="/" class="box box-image">
                        <figure>
                            <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-02.jpg"  data-imgalt-desktop="This is the alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-desktop-02.jpg" alt="This is the alt text">
                                </noscript>
                            </div>
                            <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-02.jpg"  data-imgalt-mobile="This is the mobile alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-mobile-02.jpg" alt="This is the mobile alt text">
                                </noscript>
                            </div>
                        </figure>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="/" class="box box-text box-dark box-top box-right">
                        <p>Den rigtige klimavenlige kilowatt-time er den, der aldrig bliver brugt.</p>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="/" class="box box-image">
                        <figure>
                            <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-03.jpg"  data-imgalt-desktop="This is the alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-desktop-03.jpg" alt="This is the alt text">
                                </noscript>
                            </div>
                            <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-03.jpg"  data-imgalt-mobile="This is the mobile alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-mobile-03.jpg" alt="This is the mobile alt text">
                                </noscript>
                            </div>
                        </figure>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="/" class="box box-text box-orange box-bottom box-right">
                        <p>Modstrøm Danmark A/S er et 100% uafhængigt energiselskab.</p>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="/" class="box box-image">
                        <figure>
                            <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-04.jpg"  data-imgalt-desktop="This is the alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-desktop-04.jpg" alt="This is the alt text">
                                </noscript>
                            </div>
                            <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-04.jpg"  data-imgalt-mobile="This is the mobile alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-mobile-04.jpg" alt="This is the mobile alt text">
                                </noscript>
                            </div>
                        </figure>
                    </a>
                </li>
                <li class="col-sm-3">
                    <a href="/" class="box box-image">
                        <figure>
                            <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-05.jpg"  data-imgalt-desktop="This is the alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-desktop-05.jpg" alt="This is the alt text">
                                </noscript>
                            </div>
                            <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-05.jpg"  data-imgalt-mobile="This is the mobile alt text">
                                <noscript>
                                    <img src="/images/box-placeholder-mobile-05.jpg" alt="This is the mobile alt text">
                                </noscript>
                            </div>
                        </figure>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>