<section class="hero-list">
    <div class="container">
        <ul class="row">
            <li class="image-link col-sm-4">
                <header>
                    <h3>Beregn din EL-besparelse</h3>
                    <i></i>
                </header>
                <figure class="responsiveimg-default" data-imgsrc-default="/images/hero-list-placeholder.jpg" data-imgalt-default="This is the alt-text">
                    <noscript>
                        <img src="/images/link-list-placeholder.jpg" alt="This is the alt text">
                    </noscript>
                </figure>
                <div class="text">
                    <p>Over halvdelen af alle husejere kan <b>spare penge</b> på strøm ved at gennemføre energiforbedringer.</p>
                    <a href="/">Beregn din besparelse</a>
                </div>
            </li>
            <li class="image-link col-sm-4">
                <header>
                    <h3>Beregn din EL-besparelse</h3>
                    <i></i>
                </header>
                <figure class="responsiveimg-default" data-imgsrc-default="/images/hero-list-placeholder.jpg" data-imgalt-default="This is the alt-text">
                    <noscript>
                        <img src="/images/link-list-placeholder.jpg" alt="This is the alt text">
                    </noscript>
                </figure>
                <div class="text">
                    <p>Over halvdelen af alle husejere kan <b>spare penge</b> på strøm ved at gennemføre energiforbedringer.</p>
                    <a href="/">Beregn din besparelse</a>
                </div>
            </li>
            <li class="image-link col-sm-4">
                <header>
                    <h3>Beregn din EL-besparelse</h3>
                    <i></i>
                </header>
                <figure class="responsiveimg-default" data-imgsrc-default="/images/hero-list-placeholder.jpg" data-imgalt-default="This is the alt-text">
                    <noscript>
                        <img src="/images/link-list-placeholder.jpg" alt="This is the alt text">
                    </noscript>
                </figure>
                <div class="text">
                    <p>Over halvdelen af alle husejere kan <b>spare penge</b> på strøm ved at gennemføre energiforbedringer.</p>
                    <a href="/">Beregn din besparelse</a>
                </div>
            </li>           
        </ul>
    </div>
</section>