<section class="hero-products">
    <div class="container">
        <div class="row">
            <h2 class="col-xs-12">Sænk energiforbrugen allerede i morgen</h2>
            <div class="products-container col-xs-12">
                <ul class="list-products slides">
                    <li>
                        <div class="product">
                            <i class="banner banner-campain">Kampagne</i>
                            <figure class="responsiveimg-default" data-imgsrc-default="/images/product-placeholder.jpg" data-imgalt-default="This is the alt-text">
                                <noscript>
                                    <img src="/images/product-placeholder.jpg" alt="This is the alt text">
                                </noscript>
                            </figure>
                            <div class="product-details">
                                <h3>Sunjar, her med hele to linier</h3>
                                <div class="description">
                                    Glasset har solceller i låget og et indbygget genopladeligt batteri.
                                </div>
                                <div class="price">Kr. 195,00</div>
                                <a href="/" class="btn btn-teal">Mere info</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <i class="banner banner-save">Spar 15%</i>
                            <figure class="responsiveimg-default" data-imgsrc-default="/images/product-placeholder.jpg" data-imgalt-default="This is the alt-text">
                                <noscript>
                                    <img src="/images/product-placeholder.jpg" alt="This is the alt text">
                                </noscript>
                            </figure>
                            <div class="product-details">
                                <h3>Sunjar</h3>
                                <div class="description">
                                    Glasset har solceller i låget og et indbygget genopladeligt batteri.
                                </div>
                                <div class="price">Kr. 195,00</div>
                                <a href="/" class="btn btn-teal">Mere info</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <figure class="responsiveimg-default" data-imgsrc-default="/images/product-placeholder.jpg" data-imgalt-default="This is the alt-text">
                                <noscript>
                                    <img src="/images/product-placeholder.jpg" alt="This is the alt text">
                                </noscript>
                            </figure>
                            <div class="product-details">
                                <h3>Sunjar</h3>
                                <div class="description">
                                    Glasset har solceller i låget og et indbygget genopladeligt batteri.
                                </div>
                                <div class="price">Kr. 195,00</div>
                                <a href="/" class="btn btn-teal">Mere info</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <figure class="responsiveimg-default" data-imgsrc-default="/images/product-placeholder.jpg" data-imgalt-default="This is the alt-text">
                                <noscript>
                                    <img src="/images/product-placeholder.jpg" alt="This is the alt text">
                                </noscript>
                            </figure>
                            <div class="product-details">
                                <h3>Sunjar</h3>
                                <div class="description">
                                    Glasset har solceller i låget og et indbygget genopladeligt batteri.
                                </div>
                                <div class="price">Kr. 195,00</div>
                                <a href="/" class="btn btn-teal">Mere info</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <figure class="responsiveimg-default" data-imgsrc-default="/images/product-placeholder.jpg" data-imgalt-default="This is the alt-text">
                                <noscript>
                                    <img src="/images/product-placeholder.jpg" alt="This is the alt text">
                                </noscript>
                            </figure>
                            <div class="product-details">
                                <h3>Sunjar</h3>
                                <div class="description">
                                    Glasset har solceller i låget og et indbygget genopladeligt batteri.
                                </div>
                                <div class="price">Kr. 195,00</div>
                                <a href="/" class="btn btn-teal">Mere info</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <figure class="responsiveimg-default" data-imgsrc-default="/images/product-placeholder.jpg" data-imgalt-default="This is the alt-text">
                                <noscript>
                                    <img src="/images/product-placeholder.jpg" alt="This is the alt text">
                                </noscript>
                            </figure>
                            <div class="product-details">
                                <h3>Sunjar</h3>
                                <div class="description">
                                    Glasset har solceller i låget og et indbygget genopladeligt batteri.
                                </div>
                                <div class="price">Kr. 195,00</div>
                                <a href="/" class="btn btn-teal">Mere info</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="product">
                            <figure class="responsiveimg-default" data-imgsrc-default="/images/product-placeholder.jpg" data-imgalt-default="This is the alt-text">
                                <noscript>
                                    <img src="/images/product-placeholder.jpg" alt="This is the alt text">
                                </noscript>
                            </figure>
                            <div class="product-details">
                                <h3>Sunjar</h3>
                                <div class="description">
                                    Glasset har solceller i låget og et indbygget genopladeligt batteri.
                                </div>
                                <div class="price">Kr. 195,00</div>
                                <a href="/" class="btn btn-teal">Mere info</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>