<section class="hero-split">
    <figure>
        <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/hero-split-placeholder-desktop.jpg"  data-imgalt-desktop="This is the alt text">
            <noscript>
                <img src="/images/hero-split-placeholder-desktop.jpg" alt="This is the alt text">
            </noscript>
        </div>
        <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/hero-split-placeholder-mobile.jpg"  data-imgalt-mobile="This is the mobile alt text">
            <noscript>
                <img src="/images/hero-split-placeholder-mobile.jpg" alt="This is the alt tsext">
            </noscript>
        </div>
    </figure>

    <h2>Spar på energien med Modstrøm</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="text-area">
                    <p>Du kender de typiske sparetips og husråd, men hvem har egentlig tid og overskud til at følge dem til punkt og prikke?</p>
                    <p>Svaret er de færreste. Heldigvis kan du sagtens nedsætte dit energiforbrug så det kan mærkes på din elregning, uden at skulle omlægge dit liv og dine vaner drastisk.</p>
                    <p>Modstrøm tilbyder en række services, der hjælper dig til at reducere dit forbrug.</p>
                </div>
                <div class="btn-holder">
                    <a href="" class="btn btn-orange">Sådan skal du reducere dit EL-forbrug</a>
                </div>
            </div>
            <div class="col-sm-4">
                <figure class="img-holder">
                    <a href="/" title="Spørg Kundo">
                        <img src="/images/kundo.png" alt="This is the alt text">
                    </a>
                </figure>
            </div>
        </div>
    </div>
</section>