<section class="section-search">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<form id="page-search">
                    <div class="row">
                        <div class="input-container col-sm-10">
                            <input class="" type="text" placeholder="Søg efter indhold..." />
                        </div>
                        <div class="col-sm-2">
                            <input class="btn btn-orange" type="submit" value="Søg" />
                        </div>
                    </div>
				</form>
                <ul class="search-results">
                    <li class="search-result">
                        <a href="/">
                            <h3>ideEL - gratis strøm om natten</h3>
                            <div class="row">
                                <figure class="col-sm-2 img-default responsiveimg-default" data-imgsrc-default="/images/comments-placeholder.jpg" data-imgalt-default="This is the alt text">
									<noscript>
										<img src="/images/comments-placeholder.jpg" alt="This is the alt text">
									</noscript>
								</figure>
                                <div class="text-area col-sm-10">
                                    <p>Fra midnat til klokken seks om morgenen er forbruget af el i Danmark lavt. 
                                    Men når vindmøllerne alligevel snurrer, så er der klimavenlig strøm til rådighed, 
                                    og den kan ikke gemmes. Den er billig, og vi har besluttet os for at forære den 
                                    til dig - til gavn for din el-regning og miljøet.</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="search-result">
                        <a href="/">
                            <h3>ideEL - gratis strøm om natten</h3>
                            <div class="row">
                                <div class="text-area col-sm-12">
                                    <p>Fra midnat til klokken seks om morgenen er forbruget af el i Danmark lavt. 
                                    Men når vindmøllerne alligevel snurrer, så er der klimavenlig strøm til rådighed, 
                                    og den kan ikke gemmes. Den er billig, og vi har besluttet os for at forære den 
                                    til dig - til gavn for din el-regning og miljøet.</p>
                                </div>
                            </div>
                        </a>
                    </li>                   
                </ul>
			</div>
		</div>
	</div>
</section>
