<section class="section-image">
    <figure>
        <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/image-placeholder-desktop.jpg"  data-imgalt-desktop="This is the alt text">
            <noscript>
                <img src="/images/image-placeholder-desktop.jpg" alt="This is the alt text">
            </noscript>
        </div>
        <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/image-placeholder-mobile.jpg"  data-imgalt-mobile="This is the mobile alt text">
            <noscript>
                <img src="/images/image-placeholder-mobile.jpg" alt="This is the alt tsext">
            </noscript>
        </div>
    </figure>
</section>