<section class="section-testimonial-customer">
	<div class="container">
		<div class="row">
            <div class="col-xs-12">
				<h2>Hvad siger kunderne om Modstrøm?</h2>
				<div class="text-area">
					Vi kunne ikke forestille os nogen bedre til at fortælle om de <b>fordele</b>, du kan få med Modstrøm end vores <b>glade</b> nuværende kunder.
				</div>
			</div>
			<div class="testimonials-slider">
                <ul class="testimonials slides">
                    <li>
                        <div class="testimonial col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-teal arrow-right">
                                        <h3>Kell Schomacker</h3>
                                        <small>København</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                            </div>
                        </div>
                        <div class="testimonial col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-dark arrow-right">
                                        <h3>Lily Ruby</h3>
                                        <small>Randers</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                            </div>
                        </div>
                        <div class="testimonial col-sm-6">  
                            <div class="row">                          
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-orange arrow-left">
                                        <h3>Ole Froulund</h3>
                                        <small>Roskilde</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
                            </div>
                        </div>
                        <div class="testimonial col-sm-6">    
                            <div class="row">                        
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-gray arrow-left">
                                        <h3>Edith Larsen</h3>
                                        <small>Hillerød</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-teal arrow-right">
                                        <h3>Kell Schomacker</h3>
                                        <small>København</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                            </div>
                        </div>
                        <div class="testimonial col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-dark arrow-right">
                                        <h3>Lily Ruby</h3>
                                        <small>Randers</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                            </div>
                        </div>
                        <div class="testimonial col-sm-6">  
                            <div class="row">                          
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-orange arrow-left">
                                        <h3>Ole Froulund</h3>
                                        <small>Roskilde</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
                            </div>
                        </div>
                        <div class="testimonial col-sm-6">    
                            <div class="row">                        
					            <div class="col-sm-6">
						            <a href="/" class="box box-image">
							            <figure>
										    <div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
											    <noscript>
												    <img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
											    </noscript>
										    </div>
										    <div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
											    <noscript>
												    <img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
											    </noscript>
										    </div>
									    </figure>
						            </a>
					            </div>
                                <div class="col-sm-6">
						            <a href="/" class="box box-text box-gray arrow-left">
                                        <h3>Edith Larsen</h3>
                                        <small>Hillerød</small>
							            <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                        Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                        <p class="link">Læs hele anmeldelsen</p>
                                    </a>
					            </div>
                            </div>
                        </div>
                    </li>
                </ul>
			</div>
            <div class="testimonials-slider-mobile">
                <ul class="testimonials slides">
                    <li>
                        <div class="testimonial col-xs-12">
						    <a href="/" class="box box-image">
							    <figure>
									<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
										<noscript>
											<img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
										</noscript>
									</div>
									<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
										<noscript>
											<img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
										</noscript>
									</div>
								</figure>
						    </a>

						    <a href="/" class="box box-text box-teal arrow-top">
                                <h3>Kell Schomacker</h3>
                                <small>København</small>
							    <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                <p class="link">Læs hele anmeldelsen</p>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial col-xs-12">
						    <a href="/" class="box box-image">
							    <figure>
									<div class="bg-container img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/box-placeholder-desktop-01.jpg" data-imgalt-desktop="This is the alt text">
										<noscript>
											<img src="/images/box-placeholder-desktop-01.jpg" alt="This is the alt text">
										</noscript>
									</div>
									<div class="bg-container img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/box-placeholder-mobile-01.jpg" data-imgalt-mobile="This is the mobile alt text">
										<noscript>
											<img src="/images/box-placeholder-mobile-01.jpg" alt="This is the mobile alt text">
										</noscript>
									</div>
								</figure>
						    </a>

						    <a href="/" class="box box-text box-teal arrow-top">
                                <h3>Kell Schomacker</h3>
                                <small>København</small>
							    <p>Modstrøm er seje, og jeg vil gerne promovere selskabet overfor andre. 
                                Alle taler om det frie marked, men der er ikke meget fri konkurrence...</p>
                                <p class="link">Læs hele anmeldelsen</p>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</section>
