<section class="section-text-split">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 col-sm-offset-1">
                <div class="text-area">
                    <h2>Følg dit forbrug på “Min side”</h2>
                    <p>På "Min side" kan du løbende følge dit forbrug og se den positive udvikling Gratis Strøm, 
                    prisloftet og dine omlægninger har for din el-pris. Herunder et par eksempler på, hvad du f.eks. kan se på "Min side".</p>
                    <p><b>Grafen illustrerer dit forbrug og dine udgifter til el fordelt time for time hen over døgnet:</b></p>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="text-area">
                    <h2>Følg dit forbrug på “Min side”</h2>
                    <p>På "Min side" kan du løbende følge dit forbrug og se den positive udvikling Gratis Strøm, 
                    prisloftet og dine omlægninger har for din el-pris. Herunder et par eksempler på, hvad du f.eks. kan se på "Min side".</p>
                    <p><b>Grafen illustrerer dit forbrug og dine udgifter til el fordelt time for time hen over døgnet:</b></p>
                </div>
            </div>
        </div>
    </div>
</section>