@* TODO: CLEANUP DELETE THIS FILE*@
<section class="section-split">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 column-container">
                @Html.Partial("Sections/Elements/RelevantPages")
            </div>
            <div class="col-sm-6 column-container">
                @Html.Partial("Sections/Elements/questions")
            </div>
        </div>
    </div>
</section>