<header id="header">
    <figure id="logo">
        <a href="/">
            <img src="/images/logo.png" />
        </a>
    </figure>
    <nav id="nav-container">
        @Html.Partial("Sections/Elements/NavHeader")
        @* @Html.Partial("Helpers/ncNavSub") *@
    </nav>
    <div id="header-utilities"> 
        <a id="header-basket" href="/"><span>0,00</span><i class="icon icon-basket"></i></a>
        <a id="header-login" href="/"><span>Min side</span><i class="icon icon-login"></i></a>
    </div>
</header>