<section id="slider" class="flexslider">
    <ul class="slides">
        <li>
            <figure>
                <div class="img-desktop responsiveimg-desktop responsiveimg-background-desktop" data-imgsrc-desktop="/images/slider-placeholder-desktop.jpg">
                    <noscript>
                        <img src="/images/slider-placeholder-desktop-01.jpg" alt="This is the alt text">
                    </noscript>
                </div>
                <div class="img-mobile responsiveimg-mobile responsiveimg-background-mobile" data-imgsrc-mobile="/images/slider-placeholder-mobile.jpg">
                    <noscript>
                        <img src="/images/slider-placeholder-mobile-01.jpg" alt="This is the alt text">
                    </noscript>
                </div>
            </figure> 
                       
            <div class="container">
                <div class="row">
                    <div class="slide-content col-sm-8 col-xs-10">
                        <h2>Den billigste kilo-watt time er den du ikke bruger...</h2>
                        <div class="slide-utilities">
                            <a href="/" class="btn btn-dark">Gå mod strømmen</a>
                            <a href="/" class="btn btn-teal">Bliv kunde</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>