@* TODO: CLEANUP DELETE THIS FILE*@
	<section class="section-split">
		<div class="container">
			<div class="row">
				<div class="col-sm-7 column-container">
					@Html.Partial("Sections/Elements/Questions")
				</div>
				<div class="col-sm-5 column-container">
					@Html.Partial("Sections/Elements/Articles")
				</div>
			</div>
		</div>
	</section>