<section class="section-news">
	<div class="container">
		<div class="row">
            <div class="col-xs-12">
				<h2>Nyheder og artikler</h2>
				<div class="text-area">
					Her er der mulighed for at indsætte et tekstområde.
				</div> 
                <form class="news-filter row">
                    <div class="col-sm-offset-3 col-sm-3">
                        <div class="input-container">
                            <select id="news-filter-year" class="">
                                <option value="all-years" selected="selected">Alle år</option>
                                <option value="2015">2015</option>
                                <option value="2014">2014</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3"> 
                        <div class="input-container">
                            <select id="news-filter-month" class="">
                                <option value="all-months" selected="selected">Alle måneder</option>
                                <option value="jan">Januar</option>
                                <option value="feb">Febuar</option>
                                <option value="mar">Marts</option>
                            </select>
                        </div>
                    </div>
                </form>   
                <div class="news-list-container row">
                    <div class="col-sm-offset-1 col-sm-10">
                        <ul class="news-list row">
                            <li class="active col-sm-6" data-year="2014" data-month="jan">
                                <figure>
							        <div class="bg-container img-default responsiveimg-default" data-hrnd-default="1" data-imgsrc-default="/images/testimonial-placeholder-mobile.jpg" data-imgalt-default="This is the alt text">
								        <noscript>
									        <img src="/images/testimonial-placeholder-mobile.jpg" alt="This is the alt text">
								        </noscript>
							        </div>
						        </figure>
                                <h3>Er du på Twitter?</h3>
                                <small>Skrevet den <time>4 januar, 2014</time></small>
                                <div class="news-text">
                                    <p>HURRAA! Så kom Modstrøm langt om længe på Twitter (igen), og vi glæder os til at have endnu en platform 
                                    hvor vi kan kommunikere med kunder såvel som andre energinørder og entusiaster derude.</p>
                                    <p>Spørg os om ALT</p>
                                    <p>Har du spørgsmål til energiforbedringer, din regning, elmarkedet eller vil du bare gerne 
                                    hyggesnakke? Måske vil du bare opdateres med sparetips, nyheder, konkurrencer ol.? Så kom og følg os.</p>
                                </div>
                                <a href="/" class="see-all">Læs hele artiklen</a>
                            </li>
                            <li class="active col-sm-6" data-year="2014" data-month="jan">
                                <figure>
							        <div class="bg-container img-default responsiveimg-default" data-imgsrc-default="/images/testimonial-placeholder-mobile.jpg" data-imgalt-default="This is the alt text">
								        <noscript>
									        <img src="/images/testimonial-placeholder-mobile.jpg" alt="This is the alt text">
								        </noscript>
							        </div>
						        </figure>
                                <h3>Er du på Twitter?</h3>
                                <small>Skrevet den <time>4 januar, 2014</time></small>
                                <div class="news-text">
                                    <p>HURRAA! Så kom Modstrøm langt om længe på Twitter (igen), og vi glæder os til at have endnu en platform 
                                    hvor vi kan kommunikere med kunder såvel som andre energinørder og entusiaster derude.</p>
                                    <p>Spørg os om ALT</p>
                                    <p>Har du spørgsmål til energiforbedringer, din regning, elmarkedet eller vil du bare gerne 
                                    hyggesnakke? Måske vil du bare opdateres med sparetips, nyheder, konkurrencer ol.? Så kom og følg os.</p>
                                </div>
                                <a href="/" class="see-all">Læs hele artiklen</a>
                            </li>
                            <li class="active col-sm-6" data-year="2014" data-month="jan">
                                <figure>
							        <div class="bg-container img-default responsiveimg-default" data-imgsrc-default="/images/testimonial-placeholder-mobile.jpg" data-imgalt-default="This is the alt text">
								        <noscript>
									        <img src="/images/testimonial-placeholder-mobile.jpg" alt="This is the alt text">
								        </noscript>
							        </div>
						        </figure>
                                <h3>Er du på Twitter?</h3>
                                <small>Skrevet den <time>4 januar, 2014</time></small>
                                <div class="news-text">
                                    <p>HURRAA! Så kom Modstrøm langt om længe på Twitter (igen), og vi glæder os til at have endnu en platform 
                                    hvor vi kan kommunikere med kunder såvel som andre energinørder og entusiaster derude.</p>
                                    <p>Spørg os om ALT</p>
                                    <p>Har du spørgsmål til energiforbedringer, din regning, elmarkedet eller vil du bare gerne 
                                    hyggesnakke? Måske vil du bare opdateres med sparetips, nyheder, konkurrencer ol.? Så kom og følg os.</p>
                                </div>
                                <a href="/" class="see-all">Læs hele artiklen</a>
                            </li>
                            <li class="active col-sm-6" data-year="2014" data-month="jan">
                                <figure>
							        <div class="bg-container img-default responsiveimg-default" data-imgsrc-default="/images/testimonial-placeholder-mobile.jpg" data-imgalt-default="This is the alt text">
								        <noscript>
									        <img src="/images/testimonial-placeholder-mobile.jpg" alt="This is the alt text">
								        </noscript>
							        </div>
						        </figure>
                                <h3>Er du på Twitter?</h3>
                                <small>Skrevet den <time>4 januar, 2014</time></small>
                                <div class="news-text">
                                    <p>HURRAA! Så kom Modstrøm langt om længe på Twitter (igen), og vi glæder os til at have endnu en platform 
                                    hvor vi kan kommunikere med kunder såvel som andre energinørder og entusiaster derude.</p>
                                    <p>Spørg os om ALT</p>
                                    <p>Har du spørgsmål til energiforbedringer, din regning, elmarkedet eller vil du bare gerne 
                                    hyggesnakke? Måske vil du bare opdateres med sparetips, nyheder, konkurrencer ol.? Så kom og følg os.</p>
                                </div>
                                <a href="/" class="see-all">Læs hele artiklen</a>
                            </li>
                            <li class="active col-sm-6" data-year="2014" data-month="jan">
                                <figure>
							        <div class="bg-container img-default responsiveimg-default" data-imgsrc-default="/images/testimonial-placeholder-mobile.jpg" data-imgalt-default="This is the alt text">
								        <noscript>
									        <img src="/images/testimonial-placeholder-mobile.jpg" alt="This is the alt text">
								        </noscript>
							        </div>
						        </figure>
                                <h3>Er du på Twitter?</h3>
                                <small>Skrevet den <time>4 januar, 2014</time></small>
                                <div class="news-text">
                                    <p>HURRAA! Så kom Modstrøm langt om længe på Twitter (igen), og vi glæder os til at have endnu en platform 
                                    hvor vi kan kommunikere med kunder såvel som andre energinørder og entusiaster derude.</p>
                                    <p>Spørg os om ALT</p>
                                    <p>Har du spørgsmål til energiforbedringer, din regning, elmarkedet eller vil du bare gerne 
                                    hyggesnakke? Måske vil du bare opdateres med sparetips, nyheder, konkurrencer ol.? Så kom og følg os.</p>
                                </div>
                                <a href="/" class="see-all">Læs hele artiklen</a>
                            </li>
                        </ul>  
                        <ul class="news-list-paging"></ul>
                    </div>
                </div>          
			</div>
		</div>
	</div>
</section>
