<section class="section-content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                
                <div class="content-container">
                    <div class="top-element"></div>
                    <div class="text-area">
                        <h1>Energiaftaler - god energi</h1>
                        <p class="teaser">Hos Modstrøm har vi en enkel organisation, hvor vi holder vores omkostninger helt i bund og udsender regninger elektronisk. Det sikrer, at du får lave priser.</p>
                        <h2>Gratis strøm om natten eller afregn ud fra forbrugsmønster</h2>
                        <p>Som privatkunde hos os har vi to forskellige produkter, du kan vælge mellem. Lorem ipsum dolor sit amet ad hic nunc et nutam vit et nunctatur.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>