<section class="section-comments">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Det siger kunderne</h1>
                <div class="comments-container">
                    <ul class="comments slides">
                        <li>
                            <div class="comment">
                                <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/comments-placeholder.jpg"  data-imgalt-default="This is the alt text">
                                    <noscript>
                                        <img src="/images/comments-placeholder.jpg" alt="This is the alt text">
                                    </noscript>
                                </figure>
                                <div class="comment-text">
                                    <p>“Jeg er vild med gratis strøm om natten. Vasker tøj, lader min telefon og min computer op om natten - 
                                    og er i det hele taget meget bevidst om at skubbe så meget af mit forbrug til efter midnat. 
                                    Det er en god måde at motivere folk til at bruge strøm, når den er grønnest”</p>
                                    <p class="comment-author">- Lili Ruby, Randers</p>
                                </div>
                            </div>
                            <div class="comment">
                                <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/comments-placeholder.jpg"  data-imgalt-default="This is the alt text">
                                    <noscript>
                                        <img src="/images/comments-placeholder.jpg" alt="This is the alt text">
                                    </noscript>
                                </figure>
                                <div class="comment-text">
                                    <p>“Jeg er vild med gratis strøm om natten. Vasker tøj, lader min telefon og min computer op om natten - 
                                    og er i det hele taget meget bevidst om at skubbe så meget af mit forbrug til efter midnat. 
                                    Det er en god måde at motivere folk til at bruge strøm, når den er grønnest”</p>
                                    <p class="comment-author">- Lili Ruby, Randers</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment">
                                <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/comments-placeholder.jpg"  data-imgalt-default="This is the alt text">
                                    <noscript>
                                        <img src="/images/comments-placeholder.jpg" alt="This is the alt text">
                                    </noscript>
                                </figure>
                                <div class="comment-text">
                                    <p>“Jeg er vild med gratis strøm om natten. Vasker tøj, lader min telefon og min computer op om natten - 
                                    og er i det hele taget meget bevidst om at skubbe så meget af mit forbrug til efter midnat. 
                                    Det er en god måde at motivere folk til at bruge strøm, når den er grønnest”</p>
                                    <p class="comment-author">- Lili Ruby, Randers</p>
                                </div>
                            </div>
                            <div class="comment">
                                <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/comments-placeholder.jpg"  data-imgalt-default="This is the alt text">
                                    <noscript>
                                        <img src="/images/comments-placeholder.jpg" alt="This is the alt text">
                                    </noscript>
                                </figure>
                                <div class="comment-text">
                                    <p>“Jeg er vild med gratis strøm om natten. Vasker tøj, lader min telefon og min computer op om natten - 
                                    og er i det hele taget meget bevidst om at skubbe så meget af mit forbrug til efter midnat. 
                                    Det er en god måde at motivere folk til at bruge strøm, når den er grønnest”</p>
                                    <p class="comment-author">- Lili Ruby, Randers</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="comment">
                                <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/comments-placeholder.jpg"  data-imgalt-default="This is the alt text">
                                    <noscript>
                                        <img src="/images/comments-placeholder.jpg" alt="This is the alt text">
                                    </noscript>
                                </figure>
                                <div class="comment-text">
                                    <p>“Jeg er vild med gratis strøm om natten. Vasker tøj, lader min telefon og min computer op om natten - 
                                    og er i det hele taget meget bevidst om at skubbe så meget af mit forbrug til efter midnat. 
                                    Det er en god måde at motivere folk til at bruge strøm, når den er grønnest”</p>
                                    <p class="comment-author">- Lili Ruby, Randers</p>
                                </div>
                            </div>
                            <div class="comment">
                                <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/comments-placeholder.jpg"  data-imgalt-default="This is the alt text">
                                    <noscript>
                                        <img src="/images/comments-placeholder.jpg" alt="This is the alt text">
                                    </noscript>
                                </figure>
                                <div class="comment-text">
                                    <p>“Jeg er vild med gratis strøm om natten. Vasker tøj, lader min telefon og min computer op om natten - 
                                    og er i det hele taget meget bevidst om at skubbe så meget af mit forbrug til efter midnat. 
                                    Det er en god måde at motivere folk til at bruge strøm, når den er grønnest”</p>
                                    <p class="comment-author">- Lili Ruby, Randers</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>