@* TODO: CLEANUP DELETE THIS FILE*@
<section class="section-relevant-pages">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
            

            @* OBS: The relevant pages here and in the elements folder deffer ONLY in the grid specifications and the extra class on the ul. 
            Perhaps some logic is in order to manage this? *@
            <h2>Øvrige relevante sider</h2>
            <ul class="row relevant-pages relevant-pages-full">
                <li class="col-sm-6 col-md-3">
                    <a href="/">
                        <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/relevant-page-placeholder.jpg"  data-imgalt-default="This is the alt text">
                            <noscript>
                                <img src="/images/relevant-page-placeholder.jpg" alt="This is the alt text">
                            </noscript>
                        </figure>
                        <figcaption class="blue">Spotpriser</figcaption>
                    </a>
                </li>
                <li class="col-sm-6 col-md-3">
                    <a href="/">
                        <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/relevant-page-placeholder.jpg"  data-imgalt-default="This is the alt text">
                            <noscript>
                                <img src="/images/relevant-page-placeholder.jpg" alt="This is the alt text">
                            </noscript>
                        </figure>
                        <figcaption class="orange">Energirenovering</figcaption>
                    </a>
                </li>
                <li class="col-sm-6 col-md-3">
                    <a href="/">
                        <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/relevant-page-placeholder.jpg"  data-imgalt-default="This is the alt text">
                            <noscript>
                                <img src="/images/relevant-page-placeholder.jpg" alt="This is the alt text">
                            </noscript>
                        </figure>
                        <figcaption class="teal">Populære spørgsmål</figcaption>
                    </a>
                </li>
                <li class="col-sm-6 col-md-3">
                    <a href="/">
                        <figure class="img-default responsiveimg-default" data-imgsrc-default="/images/relevant-page-placeholder.jpg"  data-imgalt-default="This is the alt text">
                            <noscript>
                                <img src="/images/relevant-page-placeholder.jpg" alt="This is the alt text">
                            </noscript>
                        </figure>
                        <figcaption class="dark">Produktark</figcaption>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</section>