@using Modstrom.Library.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	IPublishedContent searchPage = Model.Content.AncestorOrSelf("Site").GetPropertyValue<IPublishedContent>("searchPage");

	string LogoUrl = "/images/logo.png";
	
	if (Model.Content.AncestorOrSelf("Site").GetPropertyValue<IPublishedContent>("logo") != null)
	{
		IPublishedContent logo = Model.Content.AncestorOrSelf("Site").GetPropertyValue<IPublishedContent>("logo");
		LogoUrl = logo.Url;
	}

	<header id="header">
		<figure id="logo">
			<a href="/">
				<img src="@LogoUrl" alt="Modstrøm Logo" title="Modstrøm" />
			</a>
		</figure>
		<nav id="nav-container">
			@Html.Partial("Sections/Elements/NavHeader")
		</nav>
		<div id="header-utilities">
			<span class="nav-trigger">
				<span></span>
				<span></span>
				<span></span>
			</span>
			<a id="header-basket" href="/"><span>0,00</span><i class="icon icon-cart"></i></a>
			<a id="header-login" href="/"><i class="icon icon-login"></i></a>
			<a id="header-search" href="/"><i class="icon icon-search-compressor"></i></a>
			<form id="header-search-form" action="@searchPage.Url" method="post" data-parsley-validate>
				<div class="input-container">
					<input type="text" name="searchParameter" placeholder="Søg..." data-parsley-required />
				</div>
				<input type="submit" class="btn btn-orange" value="Søg" />
			</form>
		</div>
		@Html.Partial("Sections/Elements/NavSub")
	</header>
}