<section class="section-questions">
    <div class="container">
        <div class="row">
            <div class="column-questions col-sm-7">
                <h2>Ofte stillede spørgsmål</h2>
                <ul class="questions">
                    <li>
                        <div class="question-container">
                            <div class="question">
                                Hvor meget kan jeg spare?
                            </div>
                            <div class="trigger"></div>
                        </div>
                        <div class="answer-container text-area">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question-container">
                            <div class="question">
                                Hvor meget kan jeg spare hos Modstrøm? Og her er det med en lang tekst.
                            </div>
                            <div class="trigger"></div>
                        </div>
                        <div class="answer-container text-area">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </li>
                    <li>
                        <div class="question-container">
                            <div class="question">
                                Hvor meget kan jeg spare hos Modstrøm?
                            </div>
                            <div class="trigger"></div>
                        </div>
                        <div class="answer-container text-area">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </li>
                </ul>
                <a class="see-all" href="/">Se alle spørgsmål og svar</a>
            </div>
            <div class="column-article col-sm-5">
                <h2>Seneste artikler</h2>
                <a href="/" class="article">
                    <h3>God energi til Ulla :)</h3>
                    "Når folk har heven og piven over deres elregning, har jeg spurgt dem, hvorfor de ikke har skiftet til Modstrøm."
                </a>
                <a href="/" class="article">
                    <h3>Når der går sport i at spare</h3>
                    Mange oplever, at de ikke får hjælp og tilbud nok om energiforbedring derhjemme. Det synes vi, ikke er godt nok.
                </a>
                <a class="see-all" href="/">Se alle artikler</a>
            </div>
        </div>
    </div>
</section>