<section id="slider" class="flexslider">
    <ul class="slides">
        <li>
            <figure class="responsiveimg responsiveimg-slideshow" data-imgsrc="/images/slider-placeholder-01.jpg">
                <noscript>
                    <img src="/images/slider-placeholder-01.jpg" alt="This is the alt text">
                </noscript>
            </figure>
                        
            <div class="container">
                <div class="row">
                    <div class="slide-content col-sm-8 col-xs-10">
                        <h2>Den billigste kilo-watt time er den du ikke bruger...</h2>
                        <div class="slide-utilities">
                            <a href="/" class="btn btn-dark">Gå mod strømmen</a>
                            <a href="/" class="btn btn-teal">Bliv kunde</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>